<h2>Soal 1: Comparison Operator</h2>

- Berikan contoh comparison dari tipe data string
- Berikan contoh comparison dari tipe data boolean
- Berikan contoh comparison dari tipe data integer

In [7]:
"apple" == "orange" = False
True == False = false
5 > 3 = true

SyntaxError: cannot assign to comparison (529451122.py, line 1)



---



---

<h2>Soal 2: Boolean Comparison</h2>

- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'and'
- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'or'
- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'not'

In [ ]:
5 > 3 and 7 < 10 -> True
5 < 3 or 7 > 5 -> True
not (5 == 5) -> false



---



---

<h2>Soal 3: If-Else Statement</h2>

Lengkapi kode untuk menghasilkan suatu output yang di harapkan

- Bualah sebuah if-else statement yang dimana akan mem-print 'High' jika grade adalah 'A' dan price lebih dari 100000, kemudian mem-print 'Medium' jika grade adalah 'A' dan price lebih dari 50000 dan memprint 'low' jika grade adalah 'A' dan price lebih kecil dan sama dengan 50000.

In [ ]:
#code here
grade = 'A'
price = 60000  

if grade == 'A' and price > 100000:
    print('High')
elif grade == 'A' and price > 50000:
    print('Medium')
elif grade == 'A' and price <= 50000:
    print('Low')

Medium



---



---

<h2>Soal 4: Comparison Operator dengan fungsi</h2>

Buatlah sebuah fungsi yang menerima satu argument bertipe data numeric dan menghasilkan sebuah return sebagai berikut :
- menghasilkan return 'Aneh' jika nilai dari argument tersebut adalah bilangan ganjil
- menghasilkan return 'Tidak Aneh' jika nilai dari argument tersebut adalah bilangan genap dan diantara nilai 2 sampai 5 (2 dan 5 termasuk)
- menghasilkan return 'Aneh' jika nilai dari argument tersebut adalah bilangan genap dan diantara nilai 6 sampai 20 (6 dan 20 termasuk)
- menghasilkan return 'Tidak Aneh' jika nilai dari argument tersebut adalah bilangan genap dan lebih besari dari 20

In [10]:
# Buat fungsi
def cek_angka(n):
    if n % 2 != 0:
        return 'Aneh'
    elif n % 2 == 0 and 2 <= n <= 5:
        return 'Tidak Aneh'
    elif n % 2 == 0 and 6 <= n <= 20:
        return 'Aneh'
    elif n % 2 == 0 and n > 20:
        return 'Tidak Aneh'



---



---

<h2>Soal 5: While Loop dan For Loop</h2>

- Apa perbedaan while loop dan for loop?
- Berikan contoh sederhana cara menggunakan while loop dan for loop

jawaban perbedaan

In [9]:
# jawaban contoh
while loop dieksekusi ketika true dan akan terus berjalan. for loop digunakan untuk mengulang suatu code

SyntaxError: invalid syntax (20976403.py, line 2)



---



---

<h2>Soal 6: While Loop</h2>
    
Buatlah sebuah code while loop sebagai berikut :
- Buatlah suatu fungsi yang menerima satu input nilai numerik
- Dalam fungsi, Buat sebuah while-loop dengan melakukan comparasi terhadap inputan tersebut, dimana looping/iterasi terus berjalan apabila nilai inputan tidak sama dengan 0
- Dalam setiap iterasi update nilai variable inputan itu, jika input lebih dari 0, maka kurangi variabel tersebut sebesar 1, selain itu tambahkan 1
- print nilai variable input dalam setiap awal iterasi

In [8]:
a = 10

def fungsi_while(angka):
    while angka != 0:
        print(angka)  
        if angka > 0:
            angka -= 1  
        else:
            angka += 1  



fungsi_while(a)

10
9
8
7
6
5
4
3
2
1

Expected Output:

jika a = 10                           

10                                   
9                      
8   
7   
6  
5  
4  
3  
2  
1

jika a = -10

-10                                   
-9                        
-8  
-7  
-6  
-5  
-4  
-3  
-2  
-1



---



---

<h2>Soal 7: For Loop</h2>

Lengkapi kode untuk menghasilkan suatu output yang diharapkan:





*   Cari siswa mana saja yang memiliki nilai lebih dari sama dengan 80. Masukkan kedalam sebuah list. print hasilnya

In [ ]:
data_siswa = [
    {
        "nama":"Budi",
        "nilai": 90
    },
    {
        "nama":"Nina",
        "nilai": 78
    },
    {
        "nama":"Rudi",
        "nilai": 91
    },
    {
        "nama":"Olivia",
        "nilai": 76
    },
    {
        "nama":"Leo",
        "nilai": 80
    },
    {
        "nama":"Liam",
        "nilai": 67
    },
    {
        "nama":"Sheila",
        "nilai": 76
    }
]

In [ ]:
#code here

Expected output:

['Budi', 'Rudi', 'Leo']



---



---

<h2>Soal 8: For Loop Enumerate</h2>
    
Lengkapi kode untuk menghasilkan suatu output yang di harapkan:

- Buatlah sebuah loop dengan mengiterasi sebuah objek list kemudian di kalikan dengan index dari list tersebut dan print hasilnya

In [ ]:
obj_list= [1, 16, 11, 10, 5]

# lengkapi code di bawah

Expected Output:

0

16

22

30

20



---



---